<h1>All Theatres</h1>

<div class="addbutton">
  <%= link_to "Add new theatre", new_theatre_path, :class => "btn btn-primary" %>
  </div>


<div class="container col-md-offset-2 col-md-8">
  <div class="table-responsive">
    <table class="table">
      <thead>
            <tr>
              <th>Theatre</th>
              <th>Number of times visited</th>
              <th>Shows seen</th>
              <th></th>
            </tr>
      </thead>

      <tbody>
        <% @theatres.sort_by{|t| t.name}.each do |theatre| %>
          <tr>
            <td class="col-md-2"><%= link_to theatre.name, theatre_path(theatre) %></td>
            <td class="col-md-1"><%= @performances.find_all{|p| p.theatre_id == theatre.id}.count%></td>
           
              <td class="col-md-6">
                <% @performances.find_all{|p| p.theatre_id == theatre.id}.each do |perf| %>
                <li><%= perf.show.name %> - <%= perf.date%></li>
                <% end %>
              </td>
              
            
            <!-- Pretty sure that there should be a better way of doing this! -->
            <td class="col-md-2"><%= link_to "Edit", edit_theatre_path(theatre), :class => "btn btn-sm btn-default" %>    <%= link_to "Delete", theatre_path(theatre), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-sm btn-default" %></td>
            
        <% end %>
      </tbody>
    </table>
  </div>
</div>

