
<div class="container col-md-6">
  <h1><%= @theatre.name %></h1>
  <h5 style="text-align:center;"><%= @theatre.address %></h5>
  <p style="text-align:center;"><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=550x400&sensor=false&zoom=15&markers=#{@theatre.latitude}%2C#{@theatre.longitude}" %></p>
  <div class="col-md-offset-5">
    <button class="btn"><%= link_to "Edit theatre", edit_theatre_path(@theatre) %></button>
    </div>
</div>

<div class="container col-md-5">
  <div class="text-center">
    <h2>What we saw at <%= @theatre.name %></h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
            <tr>
             <th></th>
             <th>Show</th>
             <th>Date</th>
            </tr>
      </thead>
      <tbody>
        
        <% @performances.find_all{|p| p.theatre_id == @theatre.id}.each do |x| %>
        <tr>
          <td><%= image_tag x.show.picture.url(:thumb) %></td>
          <td><%= x.show.name %></td>
          <td><%= x.date %></td>
          
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-offset-4">
  <button class="btn"><%= link_to "Back to All theatres", theatres_path %></button>
  
</div>
</div>



