<h1><%= @theatre.name %> theatre</h1>

<%= @theatre.name %><br>
<%= @theatre.address1 %><br>
<%= @theatre.address2 %><br>
<%= @theatre.city %><br>
<%= @theatre.postcode %><br>

<%= link_to "See all theatres", theatres_path %>
