<h1>All Shows</h1>

<div class="col-md-2">
</div>
<div class="container col-md-8">
  <div class="table-responsive">
    <table class="table">
      <thead>
            <tr>
              <th></th>
              <th>Show name</th>
              <th>Number of times seen</th>
              <th></th>
            </tr>
      </thead>

      <tbody>
       <% @shows.each do |show| %>
          <tr>
            <td><%= link_to (image_tag show.picture.url(:thumb)), show_path(show) %></td>
            <td><%= show.name %></td>
            <td><%= link_to @performances.find_all{|p| p.show_id == show.id}.count, show_path(show) %></td>
            <!-- Pretty sure that there should be a better way of doing this! -->
            <td><button class="button"><%= link_to "Edit", edit_show_path(show) %></button></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-2">
</div>

<div class="col-md-3">
<button class="button"><%= link_to "Add new show", new_show_path %></button>
  </div>