
<div class="col-md-offset-4 col-md-4">
<%= bootstrap_form_for @performance do |f| %>
  
  
    
    <%= f.date_field :date %>
  
 

  <div>
    <h3>Choose a theatre below</h3>
      
      
      <%= f.select(:theatre_id, @theatre_options) %>
      
    <p>Or</p>
    <button><%=link_to "Create new theatre", new_theatre_path %></button>
   </div>
  
  <div>
    <h3>Choose a show below</h3>
   
     
      <%= f.select(:show_id, @show_options) %>
    
    <p>Or</p>
    <button><%=link_to "Create new show", new_show_path %></button>
  </div>
  

  

  <%= f.submit %>

  <% end %>
  
</div>

