<div class="container">
  <div class="col-md-offset-2 col-md-8 well form">
    <%= bootstrap_form_for @performance do |f| %>

      <!-- Date selector -->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">  
        <%= f.date_field :date %>
      </div>
    </div>

      <!-- Theatre selector -->
      <div class="row">
        <div class="col-md-12" style=" margin-top: 20px; margin-bottom: 20px;">
          <h3 style="text-align:center;">Choose a theatre below</h3><br>
            <div class="col-md-6" style="text-align:center;">
              <%= f.select(:theatre_id, @theatre_options, hide_label: true) %>
            </div>
            <div class="col-md-2" style="padding-top: 5px; padding-left:35px;">
              <p>Or</p><br>
            </div>
            <div class="col-md-4>">
              <%=link_to "Add a new theatre", new_theatre_path, :class => 'btn btn-primary' %>
            </div>
        </div>
    </div>

        <!-- show selector -->
    <div class="row">
          <div class="col-md-12" style="margin-top: 20px">
              <h3 style="text-align:center;">Choose a show below</h3><br>
                <div class="col-md-6" style="text-align:center;">
                  <%= f.select(:show_id, @show_options , hide_label: true)%>
                </div>
                <div class="col-md-2" style="padding-top: 5px; padding-left:35px;">
                <p>Or</p><br>
                </div>
                <div class="col-md-4 button-text">
                  <%=link_to "Add a new show", new_show_path, :class => 'btn btn-primary' %>
                </div>
            </div>
    </div>

         <!-- Submit button -->
    <div class="row">
            <div class="col-md-offset-5" style="padding-top:30px;">
              <%= f.submit "Create performance", :class => "btn btn-primary"%>
            </div>
    </div>
            <br>

    <% end %>
  </div>
</div> <!-- container -->

