
<div class="container">
  <div class="table-responsive">
    <table class="table">

    <thead>
      <tr>
        <th></th>
        <th>Show name</th>
        <th>Date</th>
        <th>Theatre</th>
      </tr>
    </thead>

    <tbody>
      
        <%@performances.each do |performance| %>
        <tr>
        <td><%= link_to (image_tag performance.show.picture.url(:thumb)), show_path(performance.show.id) %></td>
        <td><%= performance.show.name%></td>  
        <td><%= performance.date %></td>
        <td><%= performance.theatre.name %></td>
        <td><button><%= link_to "Edit", edit_performance_path(performance) %></button></td>
        <% end %><br>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<button><%= link_to "Add a new performance", new_performance_path %></button>
